<md-card [ngClass]="device.offline ? 'disabled' : ''">
    <md-card-header>
        <md-card-title>{{device.name}}</md-card-title>
        <md-card-subtitle>{{device.endpoint}}</md-card-subtitle>
    </md-card-header>
    <md-card-content>
        <div>Device Type: {{device.deviceType}}</div>
        <div>Manufacturer: {{device.manufacturer}}</div>
        <div>Model Number: {{device.modelNumber}}</div>
        <div>Serial Number: {{device.serialNumber}}</div>
        <div *ngIf="!device.offline">
            <div>Panel Interface Loaded : {{device.panelInterfaceLoaded}}</div>
        </div>
    </md-card-content>
    <md-card-actions>
        <button md-button (click)="onClick()">Hello</button>
    </md-card-actions>
</md-card>