.section {
    display: flex;
    flex-direction: column;
}

:host {
    display: flex;
    flex-direction: column;
}

.spinner-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-self: center;
}

button.network-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
}