:host {
  display: flex;
  flex-direction: column;
}

.section-title {
  margin-top:16px;
  margin-left:16px;
}

.list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 8px;
}

.list-container > * {
  margin: 8px;
}